<!DOCTYPE HTML>
<html lang=pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="./style/style.css">
        <title></title>
    </head>
    <body>
        <div class="master-container">
            <div class="header-section"></div>
            <div class="sidebar-section">
                <div class="collection">
                    <a href="#!" id="btn-home" class="collection-item">Home</a>
                    <a href="#!" id="btn-add-product-page" class="collection-item">Adicionar Produto</a>
                    <a href="#!" id="btn-show-order-page" class="collection-item">Mostrar Vendas</a>
                    <a href="#!" id="btn-show-stock-page" class="collection-item">Ver Estoque</a>
                </div>
            </div>
            <div id="main-content" class="body-section"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="./scripts/main.js"></script>
    </body>
</html>